<h1>タスク一覧</h1>

<%= link_to "追加したい", new_task_path %>
<%= form_with url: tasks_path, method: :get, local: true do |f| %>
  <%= f.text_field :search, placeholder: "タイトル・説明で検索", value: params[:search] %>
  <%= f.submit "検索" %>
<% end %>
<%= link_to "タイトル順", tasks_path(sort:"title")  %>
<%= link_to "期限順", tasks_path(sort:"due")  %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>説明</th>
      <th>期限</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to "詳細", task_path(task), method: :get %></td>
        <td><%= link_to "編集", edit_task_path(task) %></td>
        <td><%= button_to "削除", task_path(task), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>