<h1>新規タスク作成</h1>

<%= form_with model: @task, url: tasks_path do |f| %>
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "説明" %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit "作成" %>
<% end %>