<h1>タスク詳細</h1>
<h2>タスク名:<%= @task.title %></h2>
<p>説明:<%= @task.description %></p>
<p>期限:<%= @task.due_date %></p>
<p>作成日時:<%= @task.created_at %></p>
<p>最終更新日時:<%= @task.updated_at %></p>

<%= link_to "一覧へ戻る", tasks_path %>